<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001869977886-n8jmsmam6tjl4cdn6i912k6pm2qlav75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001869977886-n8jmsmam6tjl4cdn6i912k6pm2qlav75</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2jEF0pDsPJshW64awiOTt-418CEpr3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1001869977886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enoxus.ReactiveProgramming</string>
	<key>PROJECT_ID</key>
	<string>analytics-homework-1ad29</string>
	<key>STORAGE_BUCKET</key>
	<string>analytics-homework-1ad29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001869977886:ios:e52a023a9380210a8dc10f</string>
	<key>DATABASE_URL</key>
	<string>https://analytics-homework-1ad29.firebaseio.com</string>
</dict>
</plist>